@import "tailwindcss";
@import "./theme.css";

* {
  font-family: var(--font-lexend), Arial, Helvetica, sans-serif;
}

p, button {
  color: var(--color-secondary);
}

body {
  color: var(--color-secondary);
  background-color: var(--color-primary-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-nanum-myeongjo), serif;
  color: var(--color-secondary);
}

@keyframes slideDown {
  from { height: 0; }
  to { height: var(--radix-accordion-content-height); }
}

@keyframes slideUp {
  from { height: var(--radix-accordion-content-height); }
  to { height: 0; }
}
